<link rel="import" href="../components/polymer/polymer.html">
<link rel="import" href="../post-service/post-service.html">
<link rel="import" href="../components/paper-item/paper-item.html">

<polymer-element name="cat-list" attributes="show">
  <template>
    <style>
    :host {
      display: block;
      width: 75%;
    }

    
    </style>

    <post-service id="service" posts="{{posts}}"></post-service>
    
    <div layout vertical >
      <template repeat="{{post in posts}}">
        <paper-item
          iconSrc="{{post.icon}}" label="{{post.cat}}">
        </paper-item>
      </template>
    </div>
  </template>
  <script>
  Polymer({
    /*handleFavorite: function(event, detail, sender) {
      var post = sender.templateInstance.model.post;
      this.$.service.setFavorite(post.uid, post.favorite);
    }*/
  });
  </script>
</polymer-element>
