<link rel="import" href="../components/polymer/polymer.html">
<link rel="import" href="../components/paper-input/paper-input.html">
<link rel="import" href="../post-service/post-service.html">
<link rel="import" href="post-card.html">

<polymer-element name="post-list" attributes="show">
  <template>
    <style>
    :host {
      display: block;
      width: 90%;

    }
    post-card {
      margin-bottom: 2em;
    }
    </style>

    <post-service id="service" posts="{{posts}}"></post-service>
    
    <div layout vertical center >
      <template repeat="{{post in posts}}">
        <post-card>
          <img src="{{post.icon}}" width="70" height="70">
          <h2><paper-input value="{{post.cat}}"></paper-input></h2>
          <template repeat="{{subsection in post.section}}">
            <h3><paper-input value="{{subsection.title}}"></paper-input></h3>
            <p><paper-input multiline value="{{subsection.text}}"></paper-input></p>

          </template>
        </post-card>
      </template>
    </div>
  </template>

  <script>
  Polymer({
    /*handleFavorite: function(event, detail, sender) {
      var post = sender.templateInstance.model.post;
      this.$.service.setFavorite(post.uid, post.favorite);
    }*/
  });
  </script>
</polymer-element>
